<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mars Rover API</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<div class="top-container">
    <h1>Whats happening on Mars</h1>
    <p>A Web Application</p>
</div>
<div class="container">
    <form method="get" action="" id="formRover">
        <input type="hidden" th:field="${homeDto.marsApiRoverData}"/>
        <div class="btn-group btn-group-lg" role="group" style="margin: 2em 0em;">
            <button type="button" class="btn btn-secondary" id="marsApiCuriosity">Curiosity</button>
            <button type="button" class="btn btn-secondary" id="marsApiOpportunity">Opportunity</button>
            <button type="button" class="btn btn-secondary" id="marsApiSpirit">Spirit</button>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraFhaz}">
                    <label class="form-check-label" for="cameraFhaz">
                        Front Hazard Avoidance Camera
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraRhaz}">
                    <label class="form-check-label" for="cameraRhaz">
                        Rear Hazard Avoidance Camera
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraMast}">
                    <label class="form-check-label" for="cameraMast">
                        Mast Camera
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraChemcam}">
                    <label class="form-check-label" for="cameraChemcam">
                        Chemistry and Camera Complex
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraMahli}">
                    <label class="form-check-label" for="cameraMahli">
                        Mars Hand Lens Imager
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraMardi}">
                    <label class="form-check-label" for="cameraMardi">
                        Mars Descent Imager
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraNavCam}">
                    <label class="form-check-label" for="cameraNavCam">
                        Navigation Camera
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraPancam}">
                    <label class="form-check-label" for="cameraPancam">
                        Panoramic Camera
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="${homeDto.cameraMinites}">
                    <label class="form-check-label" for="cameraMinites">
                        Miniature Thermal Emission Spectrometer (Mini-TES)
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="marsSol" class="col-form-label col-form-lg">Enter the mars Sol: </label>
            <input class="form-control form-control-lg" type="number" th:field="${homeDto.marsSol}" min="0"/>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </form>
    <div th:each="index : ${#numbers.sequence(0,roverApiResponse.photos.size(),4)}" class="row"
         style="margin-bottom: 2em">
        <div class="col-sm" th:if="${index < roverApiResponse.photos.size()}">
            <img th:src="${roverApiResponse.photos[index].imgSrc}" class="img-fluid"/>
        </div>
        <div class="col-sm" th:if="${index+1 < roverApiResponse.photos.size()}">
            <img th:src="${roverApiResponse.photos[index+1].imgSrc}" class="img-fluid"/>
        </div>
        <div class="col-sm" th:if="${index+2 < roverApiResponse.photos.size()}">
            <img th:src="${roverApiResponse.photos[index+2].imgSrc}" class="img-fluid"/>
        </div>
        <div class="col-sm" th:if="${index+3 < roverApiResponse.photos.size()}">
            <img th:src="${roverApiResponse.photos[index+3].imgSrc}" class="img-fluid"/>
        </div>

    </div>
    <!--      <img th:each="photo : ${roverApiResponse.photos}" th:src="${photo.imgSrc}"/> -->
</div>
<script type="text/javascript" src="index.js"></script>
</body>
</html>